<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-400 flex items-center justify-center">
  <div class="w-72 h-96 bg-zinc-100 px-4 py-5 rounded-md">
    <h1>Welcome to Pinterest</h1>
    <form action="">
      <input type="text">
    </form>
  </div> <!--For custom height or width we write h-[70vh] or w-[90vh]-->
</div>

<% include ./partials/footer.ejs %>