
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>John Doe's Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet"></head>
  <body>

    <header>
      <img src="https://placeimg.com/300/300/people" alt="John Doe" class="profile-image">
      <h1 class="tag name">Hello, I’m John.</h1>
      <p class="tag location">My home is New York, California.</p>
    </header>

  </body>
  </html>
